.diary-card-container {
    width: 20vw;
    min-height: 35vh;
    height: 100%;
    background-color: #e7e8cc;

    mat-card-header {
        margin-bottom: 1rem;
    }
    
    .diary-card-description {
        font-size: 1rem;
        font-weight: 500;
        
        mat-chip-set {
            margin-bottom: 2rem;
        }
    }
}

/* phone */
@media (max-width:480px) {
    .diary-card-container {
        width: 40vw;
        min-height: 15vh;
    }    
}

/* tablet */
@media (min-width: 480px) and (max-width: 1024px) {
    .diary-card-container {
        width: 30vw;
        min-height: 15vh;
    }    
}

/* Large screens (4K) */
// I dont have a large screen so i can't create any responsive design for it
// ideally we also need to optimize for ultrawide monitors and big screen
@media (min-width: 1440px) {
    
}