.diary-card-container {
    width: 20vw;
    min-height: 35vh;
    height: 100%;
    background-color: #e7e8cc;

    .diary-card-title {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .diary-card-description {
        font-size: 1rem;
        font-weight: 500;
    }
}
