.diary-card-container {
    width: 20vw;
    min-height: 35vh;
    height: 100%;
    background-color: #e7e8cc;

    mat-card-header {
        margin-bottom: 1rem;
    }
    
    .diary-card-description {
        font-size: 1rem;
        font-weight: 500;
        
        mat-chip-set {
            margin-bottom: 2rem;
        }
    }
}
