<mat-card class="diary-card-container" appearance="raised">
    <mat-card-header>
        <mat-card-title>
            {{ diaryData.date }}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="diary-card-description">
            <mat-chip-set>
                <mat-chip>{{ latestDiaryEntry?.time_period?.label }}</mat-chip>
                <mat-chip>{{ latestDiaryEntry?.mood?.label }}</mat-chip>
            </mat-chip-set>
            <p>{{ latestDiaryEntry?.description }}</p>
        </div>
    </mat-card-content>
</mat-card>
