.diary-card-grid {
    display: grid;
    margin-top: auto ;
    margin-bottom: auto;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, calc(20% + 1rem)); /* Responsive grid */
    gap: 0.5rem;
  }