<div class="form-wrapper">
  <form [formGroup]="form">
    <!-- first row for date picker -->
    <mat-form-field class="date-row">
      <mat-label>Today is?</mat-label>
      <input matInput [matDatepicker]="datepicker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-error *ngIf="form.get('date')?.hasError('invalidDateFormat')">
        Invalid Date Format
      </mat-error>
      <mat-error *ngIf="form.get('date')?.hasError('dateGreaterThanToday')">
        Cannot Enter Date Greater than Today
      </mat-error>
    </mat-form-field>

    <!-- repeating array diary entries -->
    <div formArrayName="diaryEntries">
      <!-- setting the formGroupName to be the index of the current iteration in the formArray, this is requried for correct form navigation path -->
      <div *ngFor="let entry of diaryEntriesFormArray.controls; let i = index" formGroupName="{{i}}" class="diary-entry">
        <!-- first row of each diary entries -->
        <!-- moodand time period dropdowns -->
        <div class="diary-addon">
          <!-- time period dropdown -->
          <mat-form-field appearance="fill" class="diary-addon-item">
            <mat-label>Time Period</mat-label>
            <mat-select formControlName="time_period"> 
              <!-- iterating through the option array and bind them into mat option dynamicaly -->
              @for (timePeriod of timePeriods; track timePeriod) {
                <mat-option [value]="timePeriod.id">{{timePeriod.label}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
    
          <!-- mood dropdown -->
          <mat-form-field appearance="fill" class="diary-addon-item">
            <mat-label>Mood</mat-label>
            <mat-select formControlName="mood">
              @for (mood of moods; track mood) {
                <mat-option [value]="mood.id">{{mood.label}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
    
        <!-- diary content -->
        <mat-form-field appearance="fill" class="description-area">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" placeholder="What's on your mind?"></textarea>
        </mat-form-field>
      </div>

      <button mat-mini-fab class="add-diary-entry" (click)="addDiaryEntry()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    
    <div class="utility-bar">
      <button mat-flat-button (click)="onClose()">Close</button>
      <button mat-flat-button (click)="onSubmit()" [disabled]="!form.dirty || form.invalid">Submit</button>
    </div>
    
  </form>
</div>
