<div class="diary-form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Today is?</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      
        <!-- <div formArrayName="entries">
          <div *ngFor="let entry of entries.controls; let i = index" [formGroupName]="i">
            <h4>Diary Entry {{ i + 1 }}</h4>
            
            <label for="timePeriod">Time Period:</label>
            <input id="timePeriod" formControlName="timePeriod" />
            
            <label for="description">Description:</label>
            <textarea id="description" formControlName="description"></textarea>
            
            <label for="mood">Mood:</label>
            <select id="mood" formControlName="mood">
              <option value="">Select Mood</option>
              <option value="happy">Happy</option>
              <option value="sad">Sad</option>
              <option value="neutral">Neutral</option>
              <option value="excited">Excited</option>
              <option value="anxious">Anxious</option>
            </select>
            
            <button type="button" (click)="removeEntry(i)">Remove Entry</button>
          </div>
        </div>
       -->
        <button type="button" (click)="addDiaryEntry()">Add New Row</button>
        <button type="submit" [disabled]="form.invalid">Submit</button>

        <button mat-flat-button (click)="onClose()">
            Close
        </button>
    </form>

</div>