.diary-card-container {
    
    
    .diary-card-title {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .diary-card-description {
        font-size: 1rem;
        font-weight: 500;
    }
}

