<mat-card class="diary-card-container" appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            {{ cardTitle }}
        </mat-card-title>        
        <mat-card-subtitle>
            {{ cardSubtitle }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- content projection so that parent component can format the description however it wants to -->
        <ng-content class="diary-card-description" select="[description]"></ng-content>
    </mat-card-content>    
</mat-card>