<mat-stepper [linear]="'True'" #stepper>
    <mat-step>
        <ng-template matStepLabel>Introduction</ng-template>
        <p>Welcome! Traveller! Tell us about yourself!</p>
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="bioFormGroup">
        <form [formGroup]="bioFormGroup">
            <ng-template matStepLabel>You are?</ng-template>
            <div class="form-content">
                <mat-form-field class="name-field">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Our fantasy adventurer's name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field class="age-field">
                    <mat-label>Age</mat-label>
                    <input matInput type="number" min="8" max="120" placeholder="e.g. 18" formControlName="age" required>
                </mat-form-field>
            </div>
            
            <div>
                <button mat-button matStepperPrevious>Previous</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Ready To Go!</ng-template>
        <p>Adventure awaits!</p>
        <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="onSubmit()">Let's go!</button>
        </div>
    </mat-step>
</mat-stepper>