.diary-card-grid {
    display: grid;
    margin-top: auto ;
    margin-bottom: auto;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, calc(20% + 1rem)); /* Responsive grid */
    gap: 1rem;

    app-diary-card:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
      cursor: pointer;
  }

  .new-diary-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 20vw;
    min-height: 35vh;
    border: 2px dashed whitesmoke;
    background-color: #d5d6bc;
    border-radius: 1rem; 
    padding: 0;
  }
}

