<div class="diary-card-grid">
    <div class="new-diary-card" appearance="outlined">
        <h4>Record A New Day</h4>
        <button mat-mini-fab class="add-new-diary" (click)="openDiaryEntry(null)">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <!-- because we are using multiple ng keywords for our div, we need ng-container or it would create another layer or div in the virtual DOM tree -->
    <ng-container *ngIf="diaryData?.length > 0">
        <ng-container *ngFor="let diaryEntry of diaryData">
            <app-diary-card [diaryData]="diaryEntry" (click)="openDiaryEntry(diaryEntry)"></app-diary-card>
        </ng-container>
    </ng-container>
</div>
