.diary-card-grid {
    display: grid;
    margin-top: auto ;
    margin-bottom: auto;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, calc(20% + 1rem)); /* Responsive grid */
    gap: 0.5rem;

  .diary-card-container:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    cursor: pointer;
  }

  .new-diary-card {
    
  }


  .add-new-diary:hover {
    
  }
}

