.diary-card-grid {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, calc(20% + 1rem)); /* Responsive grid */
    gap: 1rem;

    app-diary-card:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
  }

  .new-diary-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 20vw;
    min-height: 35vh;
    border: 2px dashed whitesmoke;
    background-color: #d5d6bc;
    border-radius: 1rem; 
    padding: 0;
  }
}

/* phone */
@media (max-width:480px) {
  .diary-card-grid {
    grid-template-columns: repeat(2, calc(40% + 0.5rem)); /* Responsive grid */

    .new-diary-card {
      width: 40vw;
      min-height:15vh;
    }
  }
}

/* tablet */
@media (min-width: 480px) and (max-width: 1024px) {
  .diary-card-grid {
    grid-template-columns: repeat(3, calc(30% + 0.5rem)); /* Responsive grid */

    .new-diary-card {
      width: 30vw;
      min-height: 15vh;
    }
  }
}

/* Large screens (4K) */
// I dont have a large screen so i can't create any responsive design for it
// ideally we also need to optimize for ultrawide monitors and big screen
@media (min-width: 1440px) {
    
}
